<% layout('layouts/boilerplate.ejs') %>

<div class="col-8 offset-2">
    <h1 class="text-center py-2">Generate new track!</h1>
    <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02">
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>

    <label for="customRange1" class="form-label">Randomness</label>
    <input type="range" class="form-range" id="customRange1">

    <label for="customRange1" class="form-label">Rock</label>
    <input type="range" class="form-range" id="customRange1">

    <label for="customRange1" class="form-label">Classic</label>
    <input type="range" class="form-range" id="customRange1">

    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button">Generate</button>
    </div>
</div>