/*@import "bootstrap/scss/variables";*/

/* General */
body {

    background: linear-gradient(#352754, #493294, #432666);
    font-family: "Homenaje";
    color: white;
}




.canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;

}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    color: #89C6FF;
}



button.btn:hover {
    color: white;
    background-color: #89C6FF;
    border: solid #89C6FF;
}

.arrowDown img {
    color: #89C6FF;
    width: 30px;
}


#generateTrack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------------------- */
/*Background */
#background {
    width: max-content;
    background-position-y: 0;
    position: absolute;
    z-index: 1;
    top: -35%;
    left: 0;
    width: max-content;
}


/* ------------------------------- */
/* menu */
header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    margin: 0em;
    width: 100%;
    background-color: #111435;
    height: 3em;
}

#main {
    display: none;
}

#pngLogo {
    height: 1.25em;
    margin-right: 0.5em;
}

#logo h4 a {
    color: #e7a50c;
}

h4 {
    margin: 0 1em;
}

#about a, #logIn a, #gP a, #logo, #main a {
    color: rgb(255, 255, 255);
    margin-top: 1em;
    font-size: medium;
}

#logo a {
    color: #e7a50c;
}

#about a:hover, #logIn a:hover, #logo a:hover, #gP a:hover, #main a:hover {
    color: #89C6FF;
}

#menu {
    display: flex;
    margin-top: 0.53em;
}

/*....................*/
/*Body*/

#callToAction {
    display: flex;
    margin-bottom: 3em;
    color: white;
    flex-direction: column;
    align-items: center;
    margin-top: 35vh;
    width: max-content;
}

#inputOutput div p {
    color: #e7a50c;
    line-height: 5%;
}


h1 {
    font-size: 3em;
    text-align: center;
}

h5 {
    text-align: center;
}


#inputOutput {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: flex-end;
    margin-bottom: 4em;
}

#uploadTrack h5 {
    margin-bottom: 0em;
}

#uploadTrack {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-right: -2em;
}

#uploadFileInput {
    margin-top: 1em;
    display: flex;
    border: none;
}


.formGenerate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formGenerate button.btn {
    color: black;
    background-color: #e7a50c;
    border: solid #e7a50c;
    border-radius: 10px;
    width: 150%;
}



/* ------------------------------- */
/*  Parameters*/

#allParams {
    display: flex;
    justify-content: space-between;
}


#styleSection, #noiseSection, #goProSection {
    background-color: #111435;
    color: white;
    height: 17em;
    width: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0em 1em;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 4em;
}

#styleSelection div {
    height: 33%;
}

#styleSelection div label {
    margin-bottom: 0.15em;
}


.form-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #e7a50c;
    ;
    cursor: pointer;
}


#noiseBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 40%;
}


#noiseBtns button.btn {
    color: #e7a50c;
    ;
    background-color: rgb(255, 255, 255);
    border: solid 1.5px #e7a50c;
    border-radius: 25px;
    margin: 0.15em 0em;
    width: 60%;
    height: 30%;
    line-height: 10px;
    font-size: 80%;
}

#noiseBtns button.btn:hover {
    color: #89C6FF;
    border: solid 2px #89C6FF;
}

.logoSVG {
    width: 50%;
}

#proText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

#proText a {
    color: #e7a50c;
    ;
    font-weight: 200;
    font-size: 1.25em;
    text-align: center;
}

#proText a:hover {
    color: #89C6FF;
}


#proText a span {
    font-weight: bold;
}



/* ------------------------------- */
/*  save button */

#saveFile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0em;
}


/* ------------------------------- */
/*  explanation text */

.esplanation {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ------------------------------ */
/* samples */

.interTitle {
    margin: 1em 0em;
}

#waveform {
    margin: 2em 0em;
}

#Samples {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.threeBlocks #usageSample, .threeBlocks #downloadTraks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 2em 0em;
}

.threeBlocks #downloadTraks p {
    margin: 0em 2em;
}

.threeBlocks #usageSample div {
    margin: 0em 2em;
}


svg {
    color: #e7a50c;
    ;
}

#downloadTraks svg:hover {
    color: #89C6FF;
}


/* ------------------------------ */
/* MediaQuery */

@media (max-width: 1400px) {
    .canvas {
        width: 70%;
    }

    #styleSection, #noiseSection, #goProSection {

        width: 20vh;
    }

    .formGenerate button.btn{
        width: 120%;
    }

    #inputOutput {
        width: 60%;
    }

    #uploadFileInput{
        width: 80%;
    }


}

@media (max-width: 1200px) {
    

    #inputOutput {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

   

    .formGenerate {
        margin-top: 2em;
    }

    #uploadTrack {

        margin-right: 0em;
    }

    #inputOutput div p{
        display: none;
    }
}

@media (max-width: 900px) {

    .canvas {
        width: 70%;
    }

  


    /* ------------------------------ */
    /*Background */
    #background {
        width: max-content;
        background-position-y: 0;
        position: absolute;
        z-index: 1;
        top: -10%;
        left: 0;
        width: 100%
    }

    /* ------------------------------ */
    /* Intro */



    #callToAction {
        margin-top: 12em;
        width: 80%;
    }

    h1 {
        font-size: 2em;

    }

    h5 {
        font-size: 1.25em;
    }


    /* ------------------------------ */
    /* Form module */
    #allParams {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #styleSection, #noiseSection, #goProSection {

        height: 12em;
        width: 100%;
        display: flex;
        margin: 1em 0em;
    }

    #allParams {
        margin-bottom: 2em;
    }

    #styleSelection div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 40%;
        font-size: 1.2em;
    }

    .form-range {
        width: 80%;
        margin-left: 2em;
    }


    #uploadTrack {
        flex-direction: column;
    }

    #uploadFileInput {
        width: 100%;
    }

    #proText img {
        width: 25%;
    }

    #noiseBtns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1em;
    }

    #noiseBtns button.btn {
        width: 5em;
        height: 3em;
        margin: 0px 3px;
    }


    /* ------------------------------ */
    /* samples */
    #waveform {
        margin: 2em;
        width: 97%;
    }

    .threeBlocks {
        width: 90%;
    }

    .threeBlocks #downloadTraks svg {
        width: 35px;
    }

    .threeBlocks #usageSample svg {
        margin-top: -2em;
        width: 95px;
    }

    .threeBlocks #downloadTraks p {
        margin: 0em 1em;
    }

    .threeBlocks #usageSample div {
        margin: 0em 1em;
    }


}


@media (max-width: 700px) {
    body {
        font-size: 0.85em;
    }

    h4 {
        font-size: 1.25em;
    }


    /* ------------------------------ */
    /* Form module */
    #styleSelection div {
        height: 40%;
        font-size: 1.2em;
    }

    .form-range {
        width: 70%;
    }

    #noiseBtns button.btn {
        line-height: 5px;
    }

    #noiseBtns button.btn {
        height: 30px;
        margin: 0px 3px;
    }


}


@media (max-width: 500px) {
    body {
        font-size: 0.8em;
    }

    #callToAction {
        margin-top: 20em;
    }


    h4 {
        font-size: 1.5em;
        align-self: center;
        margin-top: 0.3em;

    }

    #logo {
        margin-top: 0em;
    }

    #menu {
        display: none;
        position: absolute;
        background-color: #111435;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    #main {
        display: inline;
    }

    header {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    header:hover #menu {
        display: block;
        align-self: center;
        margin-top: 6em;
    }

    #about a, #logIn a, #gP a {
        color: rgb(255, 255, 255);
    }

    #about a:hover, #logIn a:hover, #logo a:hover, #gP a:hover {
        color: #89C6FF;
    }
}