

  /* ------------------------------ */

#inputOutput {
    margin-top: 14em;
}

.canvas{
    height: 130vh;
}

#inputOutput {
    width: 100%;
}

#generateTrack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#styleSelection {
    height: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sections {
    display: flex;
    flex-direction: column;
}

#allParams1, #allParams2 {
    display: flex;
    justify-content: space-between;
    margin: -2em 0em;
}

#allParams1 {
    margin-top: -3em;
}

#noiseSection a:hover {
    color: #89C6FF;
}


#styleSelection a:hover, #noiseSection #noiseBtns a:hover {
    color: #89C6FF;
}

#styleSection, #noiseSection, Section, #randomSection, #addSection, #placeholderSection {
    background-color: #111435;
    color: white;
    height: 17em;
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: 3em 0em;
    border-radius: 10px;
}

#styleSelection div {
    height: 33%;
}

#styleSelection div label {
    margin-bottom: 0.15em;
}


.form-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #e7a50c;
    ;
    cursor: pointer;
}


#noiseBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 40%;
}


#noiseBtns button.btn {
    color: #e7a50c;
    ;
    background-color: rgb(255, 255, 255);
    border: solid 1.5px #e7a50c;
    border-radius: 25px;
    margin: 0.15em 0em;
    width: 60%;
    height: 30%;
    line-height: 10px;
    font-size: 80%;
}

#noiseBtns button.btn:hover {
    color: #89C6FF;
    border: solid 2px #89C6FF;
}

.logoSVG {
    width: 50%;
}




#placeholderSection {
    background-color: transparent;
    box-shadow: none;
}

#addSection {
    background-color: #352754;
    border: dotted 4px#e7a50c;
    color: #e7a50c;
    box-shadow: none;
}

#addText p, #randomText p {
    display: flex;
    flex-direction: column;
    align-items: center;
}




#styleSelection a {
    color: #e7a50c;
    font-weight: 200;
    font-size: 15px;
    align-self: center;
    margin-top: 0.5em;
}

#noiseSection a {
    color: #e7a50c;
    font-weight: 200;
    font-size: 15px;
    align-self: center;
    margin-top: 5.1em;
}

#instrumentSection div {
    margin-top: 0.5em;
}

.collectionInst {
    display: flex;
}


.iconInstrument {
    width: 100%;
    filter: invert(74%) sepia(68%) saturate(3150%) hue-rotate(4deg) brightness(99%) contrast(91%);
}

.iconInstrument:hover {
    filter: invert(75%) sepia(63%) saturate(1341%) hue-rotate(181deg) brightness(100%) contrast(109%);
}

svg:hover {
    fill: #89C6FF;
}

#randomText, #addText, #placeholderText {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

@media (max-width: 1400px) {
    #inputOutput {
        width: 70%;
    }

    #inputOutput div p {
        display: inline;
    }

    .canvas {
        width: 70%;
    }
}

@media (max-width: 1200px) {
    #inputOutput div p {
        display: none;
    }
}

@media (max-width: 900px) {


    /* ------------------------------ */
    /* Form module */
    #allParams1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #allParams2 {
        margin-top: 0.1em;
    }

    #styleSection, #noiseSection, #instrumentSection {

        height: 12em;
        width: 100%;
        display: flex;
        margin: 1em 0em;
    }

    #instrumentSection div {
        margin-top: 0.5em;
        display: flex;
        flex-direction: row;
    }

    #noiseSection a {
        margin-top: 0.85em;
    }

    #styleSelection div{
        display: flex;
        flex-direction: row;
        width:140%;     
    }

    #noiseBtns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1em;
    }

    #noiseBtns button.btn {
        width: 5em;
        height: 3em;
        margin: 0px 3px;
    }


    .iconInstrument {
        width: 70%;
    }

    .form-range {
        margin-left: 3em;
    }


}

@media (max-width: 700px) {

    .form-range {
        width: 70%;
    }

    #noiseBtns button.btn {
        line-height: 5px;
    }

    #noiseBtns button.btn {
        height: 30px;
        margin: 0px 3px;
    }
}