#pro {
    margin-top: 5em;
}

#generateTrack{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#uploadTrack{
    width: 100%;
    margin-bottom: -1em;
}

#sections {
        display: flex;
        flex-direction: column;
}

#allParams1, #allParams2 {
    display: flex;
    justify-content: space-between;
    margin: -2em 0em;
}

#allParams1 {
    margin-top: 2em;
}



#styleSelection a:hover, #noiseSection #noiseBtns a:hover {
    color: #89C6FF;
}

#styleSection, #noiseSection,Section, #randomSection, #addSection, #placeholderSection {
    background-color: rgb(214, 214, 214);
    height: 17em;
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: 3em 0em;
    border-radius: 10px;
}

#addSection {
    background-color: white;
    border: dotted 4px #8c41ec;
    color: #8c41ec;
}

#addText p, #randomText p{
    display: flex;
    flex-direction: column;
    align-items: center;
}




#styleSelection a {
    color: #8c41ec;
    font-weight: 200;
    font-size: 15px;
    align-self: center;
    margin-top: 0.5em;
}

#noiseSection a {
    color: #8c41ec;
    font-weight: 200;
    font-size: 15px;
    align-self: center;
    margin-top: 5.1em;
}

#instrumentSection div{
    margin-top: 0.5em;
}

.collectionInst {
    display: flex;
}


.iconInstrument {
    width: 100%;
    filter: invert(30%) sepia(72%) saturate(4288%) hue-rotate(255deg) brightness(97%) contrast(91%);
}

.iconInstrument:hover {
    filter: invert(75%) sepia(63%) saturate(1341%) hue-rotate(181deg) brightness(100%) contrast(109%);
}

svg:hover {
    fill:#89C6FF;
}

#randomText, #addText, #placeholderText {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#placeholderSection{
    background-color: transparent;
}

@media (max-width: 900px) {


    /* ------------------------------ */
    /* Form module */
    #allParams1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #allParams2 {
        margin-top: 0.1em;
    }

    #styleSection, #noiseSection, #instrumentSection {

        height: 12em;
        width: 100%;
        display: flex;
        margin: 1em 0em;
    }

    #instrumentSection div{
        margin-top: 0.5em;
        display: flex;
        flex-direction: row;
    }

    #noiseSection a {
        margin-top: 0.85em;
    }

   


    .iconInstrument {
        width: 70%;
    }


}