<% layout('layouts/boilerplate.ejs') %>
    <link rel="stylesheet" href="../../public/css/about.css">

    <%- include("../partials/background_animation.ejs") %>


        <div class="canvas">

            <div id="about2">
                <h2> Hei you there, Thank you for have been visiting our website! This project was developed by seven
                    students of Tech-labs Berlin, during the 2021 winter semester.
                    We are very proud of what we have achieved in such a reduced amount of time, and we wanna thanks
                    everyone that has helped us in these last few months :)<br><br>
                    Thank you all!</h2>
            </div>
            <div class="esplanation">
                <p class="pEsplanation">
                    Christian,  Gianna,  Marc,  Raphael,  Seungcheon,  Valerii,  and  Yuliya
                </p>
            </div>
        </div>