<% layout('layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="../../public/css/about.css">

<%- include("../partials/background_animation.ejs") %>


<div class="canvas">

    <div id="about2">
        <h2> For Musicians, Professionals and Hobbyists: Enhance your creativity with Neutral-Networks.</h2>
    </div>
    <div class="esplanation">
        <p class="pEsplanation">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque nostrum libero quibusdam similique
            maxime
            optio suscipit sapiente? Eius ea eum, saepe, accusantium recusandae dolore optio repudiandae ad est
            aperiam
            quas? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque nostrum libero quibusdam
            similique
            maxime
            optio suscipit sapiente? Eius ea eum, saepe, accusantium recusandae dolore optio repudiandae ad est
            aperiam
            quas?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque nostrum libero quibusdam similique
            maxime
            optio suscipit sapiente? Eius ea eum, saepe, accusantium recusandae dolore optio repudiandae ad est
            aperiam
            quas? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque nostrum libero quibusdam
            similique
            maxime
            optio suscipit sapiente? Eius ea eum, saepe, accusantium recusandae dolore optio repudiandae ad est
            aperiam
            quas?
        </p>
    </div>
</div>
<!-- <script src="../../public/js/toBeDefined.js"></script>-->