<% layout('layouts/boilerplate.ejs') %>

<%- include("../partials/background_animation.ejs") %>

<div class="canvas">

    <h2>Generated track</h2>
    <div id="Samples">
        <p><img src="https://c.tenor.com/93OUVuCIk6MAAAAC/done-and-done-spongebob.gif" style="width:400px;height:389px;"></p>

        <p><audio src="../../public/uploads/<%= filepath %>" type="audio/wav" controls loop ></audio> </p>
<!--        <p> <button class="btn btn-primary"> Download generated track </button></p>-->
    </div>

</div>