<% layout('layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="../../public/css/results.css">
<%- include("../partials/background_animation.ejs") %>

<div class="canvas">

    <h2>Generated track</h2>
    <div id="Samples">
        <p><img src=<%= image %> style="width:300px;height:300px;"></p>
        
        <p><audio src=<%= filepath %> controls loop></audio> </p>
<!--        <p> <button class="btn btn-primary"> Download generated track </button></p>-->
    </div>

</div>