<% layout('layouts/boilerplate.ejs') %>

<%- include("../partials/background_animation.ejs") %>

<div class="canvas">

    <h2>Generated track</h2>
    <div id="Samples">
        <p><audio src=<%= filepath %> controls loop></audio> </p>
<!--        <p> <button class="btn btn-primary"> Download generated track </button></p>-->
    </div>

</div>