<% layout('layouts/boilerplate.ejs') %>
    <link rel="stylesheet" href="../../public/css/spectrogram.css">
    <%- include("../partials/background_animation.ejs") %>

        <div class="canvas">

            <div class="spectrogram">
                <section id="spectrogram-input">
                    <h5>Your input sound file spectrogram</h5>
                    <div id="incomingWaveform"></div>
                    <div id="incomingSpectrogram"></div>
                    <p><audio src="../../public/uploads/<%= filepath %>" type="audio/wav" controls loop></audio> </p>
                </section>
                <section id="spectrogram-loading">
                    <img src="../../content/loading.gif" alt="loading wheel">
                </section>
                <section id="spectrogram-output" style="display: none;">
                    <h5>Output sound file spectrogram</h5>
                    <div id="resultWaveform"></div>
                    <div id="resultsSpectrogram"></div>

                    <p><audio src="../../public/uploads/someaudio.wav" type="audio/wav" id="outputAudio" controls
                            loop></audio> </p>

                    <p id="waitingText">Results will appear in several seconds...</p>

                </section>
            </div>

        </div>

        <script src="https://unpkg.com/wavesurfer.js"></script>
        <script src="https://unpkg.com/wavesurfer.js@5.2.0/dist/plugin/wavesurfer.spectrogram.min.js"></script>
        <script src="../../public/js/draw_spectrogram.js"></script>
        <script>
            const wavesurfer = drawInputSpectrogram("../../public/uploads/<%= filepath %>");


            const interval = 2000;  // 1000 = 1 second, 3000 = 3 seconds
            function doAjax() {
                $.ajax({
                    type: 'POST',
                    url: '/generate/check-results',
                    data: $(this).serialize(),
                    dataType: 'json',
                    success: function (data) {
                        // alert('Success!')
                        if (data.status === 'done') {
                            console.log('Success!');
                            $("#spectrogram-output").show();
                            $("#outputAudio").attr("src", "../../public/uploads/" + data.filepath);
                            const resultWavesurfer = drawOutputSpectrogram("../../public/uploads/" + data.filepath);
                            $("#spectrogram-loading").hide();
                            $("#waitingText").hide();
                            $("#waitingTitle").hide();
                        } else {
                            setTimeout(doAjax, interval);
                        }
                    },
                    error: function (data) {
                        // Schedule the next
                        console.log('Fail!');
                        console.log(data);
                        setTimeout(doAjax, interval);
                    }
                });
            }
            setTimeout(doAjax, interval);
        </script>