<% layout('layouts/boilerplate.ejs') %>
    <link rel="stylesheet" href="../../public/css/spectrogram.css">
    <%- include("../partials/background_animation.ejs") %>

        <div class="canvas">

            <h2>Results will appear in 5 to 30 seconds</h2>

            <div class="spectrogram">
                <section id="sec1">
                    <h5>Your input sound file spectrogram</h5>
                    <div id="incomingWaveform"></div>
                    <p><audio src="../../public/uploads/someaudio.wav" type="audio/wav" controls loop class="audio"></audio> </p>
                </section>
                <section >
                    <img src="../../content/loading.gif" alt="loading wheel">
                </section>
                <section id="sec2">
                    <h5>Output sound file spectrogram</h5>
                    <div id="waveform"></div>
                    <p><audio src="../../public/uploads/someaudio.wav" type="audio/wav" controls loop class="audio"></audio> </p>
                </section>
            </div>


            <p>Results will appear in several seconds...</p>
            <div>
                <a id="showResults" class="nav-link" href="/generate/results" style="display: none;">View generated
                    file</a>
            </div>
        </div>

        <script src="https://unpkg.com/wavesurfer.js"></script>
        <script src="https://unpkg.com/wavesurfer.js@5.2.0/dist/plugin/wavesurfer.spectrogram.min.js"></script>
        <script src="../../public/js/draw_spectrogram.js"></script>
        <script>
            const wavesurfer = drawSpectrogram("../../public/uploads/someaudio.wav");

            const interval = 2000;  // 1000 = 1 second, 3000 = 3 seconds
            function doAjax() {
                $.ajax({
                    type: 'POST',
                    url: '/generate/check-results',
                    data: $(this).serialize(),
                    dataType: 'json',
                    success: function (data) {
                        // alert('Success!')
                        if (data.status === 'done') {
                            console.log('Success!');
                            $("#showResults").show();
                        } else {
                            setTimeout(doAjax, interval);
                        }
                    },
                    error: function (data) {
                        // Schedule the next
                        console.log('Fail!');
                        console.log(data);
                        setTimeout(doAjax, interval);
                    }
                });
            }
            setTimeout(doAjax, interval);
        </script>