body {
    background-color: white
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin: 0em;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: white
}

h4 {
    margin-left: 1em;
    margin-right: 1em;
}

#generateButton {
    margin-top: 1em;
}


#callToAction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {

    margin-top: 3em;
}

#pcallToAction {
    width: 40%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


form {
    width: 50%;
    margin: 5em 0em;
    padding-left: 1em;
    padding-top: 1em;

}

#formbBlocks {
    display: flex;
    justify-content: space-between;
}


#formUpload input {
    width: 80%;
    
}

#form4, #form2, #form3 {
    background-color: darkgray;
    height:  15em;
    width: 32%;

}

#formStyle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#formNoises {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}


#formPro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
}

#formGenerate {
    display: flex;
    flex-direction: column;
    align-items: center;
}