/* General */
body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
}

a {
    text-decoration: none;
    color: black;
  }


/* ------------------------------- */
/* menu */
header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin: 0em;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: white
}

h4 {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#menu {
    display: flex;
}


/* ------------------------------- */
/* Call to action */
#callToAction {
    display: flex;
    flex-direction: column;
    align-items: center;

}

h2 {

    margin-top: 3em;
}

/* ------------------------------- */
/* Form module */
#form1 {
    display: flex;
    justify-content: space-between;
    margin: 2em 0em;
}

#formUpload {
    display: flex;
    width: 50%;

}

#formUpload input {
    
width: 100%;
}


#formBlocks {
    display: flex;
    justify-content: space-between;
}


#form4, #form2, #form3 {
    background-color: rgb(214, 214, 214);
    height: 15em;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1em;
    margin: 2em 0em;

}

#formStyle {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;

}

#formNoises {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
}


#formPro {
    display: flex;
    flex-direction: column;
    width: 80%;

}

#formPro a {
    color: rgb(34, 67, 255);
}




/* ------------------------------- */
/*  generate button */

#formGenerate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0em;
}


/* ------------------------------- */
/*  explanation text */

.esplanation {
    margin: 2em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ------------------------------ */
/* samples */

.interTitle{
    margin:1em 0em;
}

#waveform {
    margin: 2em 0em;
}

#Samples {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.threeBlocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 2em 0em;
}

.threeBlocks img {
    width: 20%;
}

.threeBlocks .icons {
    width: 70%;
    margin-top: 0%;
}
