<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/button.css">
</head>
<body>
    <div class="file-upload mdl-button mdl-button--danger">
        <span>Choose File</span>
          <input type="file" name="FileAttachment" id="FileAttachment" class="upload" />
    </div>
    <div class="file-upload mdl-button w-25 mdl-button--danger">
        <span><img src="../../content/free-microphone-icon-342-thumb.png" alt="microphone"></span>
          <input type="file" name="FileAttachment" id="FileRegister" class="upload" />
    </div>
    <input type="text" id="fileuploadurl" readonly placeholder="No file chosen">
    </div>
</body>
</html>