<header>
    <h4 id="logo"><a href="/generate"><img id="pngLogo" src="../../content/logo.svg" alt=""> The Noise Enricher</a></h4>
    <div id="menu">
        <h4 id="about"><a href="/">About</a></h4>
        <h4 id="gP"><a href="/generate/pro">PRO</a></h4>
        <h4 id="logIn"><a href="">Log in</a></h4>
    </div>
</header>