<% layout('layouts/boilerplate.ejs') %>

    <%- include("partials/background_animation.ejs") %>

        <div class="canvas">

            <!-- Call to action -->
            <div id="callToAction">
                <h1>Generate your own track with Neural Networks</h1>
                <h5>This is a Noise Enricher, a neural net that generates music, including rudimentary singing, as raw
                    audio </h5>
            </div>

            <!-- Form module -->
            <form action="/generate" id="generateTrack" method="POST" enctype="multipart/form-data">
                <div id="inputOutput">
                    <div id="uploadTrack">
                        <h5>Upload your track</h5>

                        <div id="uploadFileInput">
                            <input type="file" name="audio" class="form-control">
                        </div>
                        <!-- generate button -->
                    </div>
                    <div>
                        <p>&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;</p>
                    </div>
                    <div class="formGenerate">
                        <button class="btn btn-info btn-lg" type="submit" onclick="showAlert()">Generate new
                            track</button>
                    </div>
                </div>



                <!-- 2 gray blocks -->
                <div id="allParams">
                    <section id="styleSection">
                        <div id="styleSelection">
                            <div>
                                <input type="radio" id="Blues" name="style" value="blues" checked>
                                <label for="Blues">Blues</label>
                            </div>

                            <div>
                                <input type="radio" id="Hiphop" name="style" value="hiphop">
                                <label for="Hiphop">Hiphop</label>
                            </div>

                            <div>
                                <input type="radio" id="Metal" name="style" value="metal">
                                <label for="Metal">Metal</label>
                            </div>
                        </div>
                        <p>Choose a style</p>
                    </section>

                    <section id="goProSection">
                        <p id="proText">
                            <img class="logoSVG" src="../content/logo.svg" alt="logo"><br>
                            <a href="/generate/pro">Use our <span>Pro version</span> with more settings</a>
                        </p>
                    </section>
                </div>



                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam fugit a tempora unde ea distinctio
                    molestiae quis voluptatum voluptates debitis! Beatae amet commodi omnis minus dicta rerum. Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Nam fugit a tempora unde ea distinctio
                    molestiae quis voluptatum voluptates debitis! Beatae amet commodi omnis minus dicta rerum.Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Nam fugit a tempora unde ea distinctio
                    molestiae quis voluptatum voluptates debitis! Beatae amet commodi omnis minus dicta rerum. Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Nam fugit a tempora unde ea distinctio
                    molestiae quis voluptatum voluptates debitis! Beatae amet commodi omnis minus dicta rerum.
                    Itaque,
                    amet tempore!
                </p>


            </form>

        </div>
        <script src="../public/js/index.js"></script>